<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qbit.assets.mapper.BalanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qbit.assets.domain.entity.Balance">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_time" property="deleteTime"/>
        <result column="version" property="version"/>
        <result column="remarks" property="remarks"/>
        <result column="account_id" property="accountId"/>
        <result column="wallet_type" property="walletType"/>
        <result column="currency" property="currency"/>
        <result column="available" property="available"/>
        <result column="pending" property="pending"/>
        <result column="frozen" property="frozen"/>
        <result column="status" property="status"/>
        <result column="systemUniqueId" property="systemUniqueId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        create_time,
        update_time,
        delete_time,
        version,
        remarks, account_id, wallet_type, currency, available, pending, frozen, status, systemUniqueId
    </sql>

</mapper>
